<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HACKER NEWS</title>
</head>
<body>
    <h1>HACKER NEWS</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi tempore quos tenetur ad, molestias, architecto repellendus illo deserunt fugiat quia quidem unde expedita, eveniet in! Ipsa deleniti voluptates corrupti voluptatum?</p>
</body>
</html>