<div class="mat-elevation-z8 data-table">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
    <ng-container matColumnDef="story_title">
      <td mat-cell *matCellDef="let element" class="title" (click)="selectRow(element)"> {{(element.story_title)?element.story_title:element.title}} </td>
    </ng-container>
  
    <ng-container matColumnDef="author">
      <td mat-cell *matCellDef="let element" class="author" (click)="selectRow(element)"> - "{{element.author}}" - </td>
    </ng-container>

    <ng-container matColumnDef="created_at">
      <td mat-cell *matCellDef="let element" class="title" (click)="selectRow(element)"> {{element.created_at | date:'short'}} </td>
    </ng-container>
    <ng-container matColumnDef="_id">
      <td mat-cell *matCellDef="let element" (click)="delete(element)"><mat-icon svgIcon="thumbs-up"></mat-icon></td>
    </ng-container>
    
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
</div>
